<!--
<h1 align ="center" style="color: red;">{{ title }} app is running</h1>

<br>

<app-hello-world></app-hello-world>
<br>
<app-user-item></app-user-item>>
<br>
<app-user-list></app-user-list>
<br>


<app-user-model></app-user-model>
<br>

<app-prop-bind></app-prop-bind>
<br>
<app-event-eg></app-event-eg>
-->
<app-user-manager></app-user-manager><br>
<app-hello-world></app-hello-world><br>
<app-people-list></app-people-list><br>
<app-order-details></app-order-details><br>
<app-emp-info></app-emp-info>